<div class="container">
      <div class="slot">
            <h1>Create Mode: FAQ</h1>
            <div class="form">
            <%= render 'form', faq: @faq %>
            </div>

            <%= link_to 'Back', faqs_path %>
      </div>
</div>
